body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  background-color: #bbdefb;
}


.fondoheader{
  background-color: #ffffff;

}

.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: #bbdefb;
  border-radius: 10px;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

.container{
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 1200px;
}

header{
  border-radius: 10px;
  background-color: #ffffff;
}

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media only screen and (min-width: 768px){
  .navspace{
    margin-left: 5rem !important;
    }


}

@media only screen and (max-width: 750px){
.navspace{
  margin: 0.2rem !important;
  z-index:0;
}
}
